QILING_ROOT=${HOME}/X-VLA
QILING_XVLA_TAG=lerobot050
QILING_XVLA_IMAGE=registry.cn-hangzhou.aliyuncs.com/keno/qi-xvla:lerobot050
HF_ENDPOINT=https://hf-mirror.com
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
